<div class="about">
    <h1>Sobre o Skiefree</h1>
    <img src="/img/skifree.png" alt="Logo">
    <p class="titulo">SkiFree é um jogo simples, porém divertido:</p>
    <p>SkiFree Online é um arcade simples, sendo um dos primeiros jogos desenvolvidos para Windows em 1991, 
        o jogador terá que coordenar um esquiador descendo uma montanha de neve através das setas do teclado.
        Aperte "Jogo Skiefree' para acessar SkiFree Online e divirta-se com as partidas rápidas e as mensagens ecologicamente corretas!
        </p>>
      

</div>