<div id="game_container"> 
  <div id="montanha">
    <div id="skier"></div>
  </div>
  <div id="placar"> 
    <h2>Placar</h2>
    Você tem <span id="vidas"> 3 </span> vidas <br>
    Você percorreu <span id="metros"> 0 </span> metros.<br>
    </div>
  </div>
</div>

<script src="../../../public/js/game.js"></script>